{% extends 'meetup/main.html'%}
{%block title%}Create Meetup{%endblock%}

{%block header%} {%endblock%}

{%block meetup%}
<div id="blog" class="latest-news-area section">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
            
              <h2 class="fw-bold mt-3">Create Meetup</h2>
              <p>
                Input Your Details Here
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!--======  End Section Title Five ======-->
<div class="container">
    <div class="row">
      
      <div class=" col-md-9 m-auto">
        <form method="POST" enctype="multipart/form-data">
        
            {%csrf_token%}
            {{form.as_p}}
         <button class="btn btn-primary mt-2" type="submit">Create Meetup</button>
    
        </form>
    
        
      </div>
 
    </div>
  </div>

</div>
</div>

{%endblock%}