
{% extends 'meetup/main.html'%}
{%block title%}Success{%endblock%}
{%block about%} {%endblock%}
{%block meetup%}{%endblock%}
{%block header%}{%endblock%}

{%block confirm%}

<section id="call-action" class="call-action mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-9">
          <div class="inner-content">
            <h2>Thanks for registering meet you at the meetup<br />We love to see you there</h2>
            <p>
             Please make sure you do check your email<br />
              For more update, it is promise to be fun and enlighten
            </p>
            <div class="light-rounded-buttons">
              <a href="j{% url 'index' %}" class="btn primary-btn-outline">Explore More..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{%endblock%}