{% extends 'meetup/main.html'%}
{%block title%}Edit Speaker{%endblock%}

{%block header%} {%endblock%}

{%block meetup%}
<div id="blog" class="latest-news-area section">
    <!--======  Start Section Title Five ======-->
    <div class="section-title-five">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="content">
            
              <h2 class="fw-bold mt-3">Reset Password</h2>
              <p>
                Enter Your Email
              </p>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>


<div class="container">
    <div class="row">
      
      <div class=" col-md-6 m-auto">
<form method="POST">
    {%csrf_token%}
    <div class="form-group">
        {{form.as_p}}

        <button type="submit" class="btn btn-primary m-2">Send</button>

    </div>
   


</form>
</div>
</div>
</div>

{%endblock%}